<a href="https://colab.research.google.com/github/fitriindra/BigDataCourseExamples/blob/master/Tugas3_PySparkRDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Instalasi Spark pada Google Colab**
kode di bawah ini hanya dijalankan **satu kali saja** saat runtime pertama kali dijalankan

Uncomment code di bawah ini untuk instalasi di Google Colab

In [1]:
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
#!tar xf spark-2.4.5-bin-hadoop2.7.tgz
#!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

###**Import Library PySpark**

In [3]:
import findspark
findspark.init("spark-2.4.5-bin-hadoop2.7")# SPARK_HOME
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
spark = SparkSession(sc)

#**Jawaban Soal Tugas 3**

###**3. Load file dataset Titanic menggunakan PySpark Shell ke dalam RDD reguler. Tampilkan sample 5 data pertama yang ada pada RDD!**

In [4]:
fileRDD = sc.textFile('TitanicData.txt')
fileRDD.take(5)

['1,0,3,"Braund Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S,',
 '2,1,1,"Cumings Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C,',
 '3,1,3,"Heikkinen Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S,',
 '4,1,1,"Futrelle Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S,',
 '5,0,3,"Allen Mr. William Henry",male,35,0,0,373450,8.05,,S,']

###**4. Tampilkan jumlah total data pada dataset menggunakan salah satu actions pada RDD!**

In [5]:
fileRDD.count()

891

###**5. Gunakan fungsi ```map()``` untuk memisahkan data dengan menggunakan delimiter/dipisahkan oleh karakter koma ```(,)```! Tampilkan sample 3 data pertama!**

In [6]:
titanic = fileRDD.map(lambda x:x.split(','))
titanic.take(3)

[['1',
  '0',
  '3',
  '"Braund Mr. Owen Harris"',
  'male',
  '22',
  '1',
  '0',
  'A/5 21171',
  '7.25',
  '',
  'S',
  ''],
 ['2',
  '1',
  '1',
  '"Cumings Mrs. John Bradley (Florence Briggs Thayer)"',
  'female',
  '38',
  '1',
  '0',
  'PC 17599',
  '71.2833',
  'C85',
  'C',
  ''],
 ['3',
  '1',
  '3',
  '"Heikkinen Miss. Laina"',
  'female',
  '26',
  '0',
  '0',
  'STON/O2. 3101282',
  '7.925',
  '',
  'S',
  '']]

###**6. Tampilkan hanya data penumpang yang berjenis kelamin perempuan menggunakan salah satu fungsi transformation pada RDD! Tampilkan sample 3 data pertama!**

In [7]:
titanic_female = titanic.filter(lambda row: row[4] == 'female')
titanic_female.take(3)

[['2',
  '1',
  '1',
  '"Cumings Mrs. John Bradley (Florence Briggs Thayer)"',
  'female',
  '38',
  '1',
  '0',
  'PC 17599',
  '71.2833',
  'C85',
  'C',
  ''],
 ['3',
  '1',
  '3',
  '"Heikkinen Miss. Laina"',
  'female',
  '26',
  '0',
  '0',
  'STON/O2. 3101282',
  '7.925',
  '',
  'S',
  ''],
 ['4',
  '1',
  '1',
  '"Futrelle Mrs. Jacques Heath (Lily May Peel)"',
  'female',
  '35',
  '1',
  '0',
  '113803',
  '53.1',
  'C123',
  'S',
  '']]

###**7. Tampilkan jumlah data penumpang yang berjenis kelamin perempuan menggunakan salah satu fungsi transformation pada RDD!**

In [8]:
titanic_female.count()

314

###**8. Tampilkan hanya data penumpang yang berjenis kelamin perempuan dan berada pada kelas 3 menggunakan fungsi transformation pada RDD! Tampilkan sample 5 data pertama**

In [9]:
titanic_female_class3 = titanic_female.filter(lambda row: row[2] == '3')
titanic_female_class3.take(5)

[['3',
  '1',
  '3',
  '"Heikkinen Miss. Laina"',
  'female',
  '26',
  '0',
  '0',
  'STON/O2. 3101282',
  '7.925',
  '',
  'S',
  ''],
 ['9',
  '1',
  '3',
  '"Johnson Mrs. Oscar W (Elisabeth Vilhelmina Berg)"',
  'female',
  '27',
  '0',
  '2',
  '347742',
  '11.1333',
  '',
  'S',
  ''],
 ['11',
  '1',
  '3',
  '"Sandstrom Miss. Marguerite Rut"',
  'female',
  '4',
  '1',
  '1',
  'PP 9549',
  '16.7',
  'G6',
  'S',
  ''],
 ['15',
  '0',
  '3',
  '"Vestrom Miss. Hulda Amanda Adolfina"',
  'female',
  '14',
  '0',
  '0',
  '350406',
  '7.8542',
  '',
  'S',
  ''],
 ['19',
  '0',
  '3',
  '"Vander Planke Mrs. Julius (Emelia Maria Vandemoortele)"',
  'female',
  '31',
  '1',
  '0',
  '345763',
  '18',
  '',
  'S',
  '']]